@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
    --bg-primary: #23c686;
    --text-primary: #4b210f;
    --bg-secondary: #234c23;

    --text-links: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}


/* Bocna navigacia */

.bocna-navigacia {
    position: fixed;
    height: 100%;
    background-color: var(--bg-secondary);
    overflow-y: auto;
    transition: right 0.3s ease;
    padding: 1rem;
}

.nav-links {
    list-style-type: none;
}

.nav-item {

    margin: 0.7rem 0;

}

.fa-close {
    color: var(--text-links);
    font-size: 1.5rem;
}

a {
    color: var(--text-links);
    text-decoration: none;
}

/* Navigacia */
header nav {
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

#kruh {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: var(--bg-secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Hero sekcia */

#main {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0.8rem;
}


nav h1, 
#main h1{
    font-size: 1.4rem;
}
#main h2, 
#footer h2 {
    font-size: 1.1rem;
}