@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
/*
:root {
    --bg-primary: #23c686;
    --text-primary: #1F0E04;
    --bg-secondary: #234c23;

    --text-links: #f7b318;
}
*/

:root {
    --bg-primary: #053b45;
    --text-primary: #b9ded6;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}


/* Bocna navigacia */

.bocna-navigacia {
    position: fixed;
    height: 100%;
    background-color: var(--text-primary);
    overflow-y: auto;
    transition: right 0.3s ease;
    padding: 1rem 3rem;
}

.nav-links {
    list-style-type: none;
}

.nav-item {
    margin: 0.7rem 0;

}


.fa-close, 
.fa-home {
    font-size: 1.5rem;
    cursor: pointer;
}

.fa-close,
.fa-tree, 
.fa-image,
.bocna-navigacia .fa-envelope {
    color: var(--bg-primary);
}


.bocna-navigacia i {
    margin-right: .5rem;
}
.fa-home {
    color: var(--text-primary);
}

.nav-link-big {
       text-decoration: none;
}


.nav-link-sm {
    color: var(--bg-primary);
    text-decoration: none;
}

.nav-link-sm:hover {
    font-weight: 600;
    border-bottom: 1px solid var(--text-links);

}

h1 {
    font-size: 1.8rem;
}


h2 {
    font-size: 1.2rem;
    line-height: 150%;
    text-align: center;
    margin: 1.5rem;
}

/* Navigacia */
header nav {
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

#kruh {
    width: 30px;
    height: 30px;
    background-color: var(--bg-secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   }

#desktop-nav {
    display: none;
}


/* Hero sekcia */

#main {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0.8rem;
}


/* Sluzby a Galeria*/

/*Desktop navigation */

#desktop-nav-sluzby {
    display: none;
}


#services .naseSluzby h2 {
    margin: 2rem 0;
}

#services .sluzby,
#services .obrazky {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

#services .sluzba {
    max-width: 90%;
    margin: 0  auto 1.5rem auto;
}

#services .sluzby img,
#services .obrazky img {
    width:75%;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    border-radius: 10px;
    border: 2px solid var(--bg-secondary);
}





#services figcaption {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.7rem;
  
}




/* footer */
footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    text-align: center;
}


footer h3 {
    margin: 1em 0;
}

footer h4 span {
    margin-left: 1rem;
    letter-spacing: .5px;
}


footer i {
    color: var(--text-primary);
}



#scn {
    display: flex;
    justify-content: space-around;
}

#scn i {
    font-size: 1.5rem;
}





